<div class="col-sm-3 col-md-2 sidebar l-max">
    <ul>
        <li>
            <a href="/index">
                <span class="glyphicon glyphicon-home"></span>
                控制台
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">扩展</li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-inbox"></span>
                模块管理
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-picture"></span>
                主题管理
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-glass"></span>
                插件管理
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">权限管理</li>
        <li>
            <a href="/admin">
                <span class="glyphicon glyphicon-list-alt"></span>
                管理员列表
            </a>
        </li>
        <li>
            <a href="/role">
                <span class="glyphicon glyphicon-list-alt"></span>
                用户组
            </a>
        </li>
        <li>
            <a href="/permission">
                <span class="glyphicon glyphicon-list-alt"></span>
                功能权限列表
            </a>
        </li>
        <li>
            <a href="/menu">
                <span class="glyphicon glyphicon-list-alt"></span>
                菜单
            </a>
        </li>
    </ul>
</div>