<footer class="blog-footer">
    <div class="container">
        <hr />
        <p>System built for <a target="_blank" href="/">{$system.name}</a> by <a target="_blank" href="https://nb.cx">@NB</a>.</p>
    </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.nb.cx/jquery/jquery-1.12.4.min.js"></script>
<script src="https://cdn.nb.cx/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://cdn.nb.cx/bootstrap/3.3.7/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="_pub_app.js?v=5"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?783956a01f33002b52a5f70174c8dabb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>