<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="header" />
</head>

<body>

<include file="nav" />

<div class="container">

    <div class="col-12">
        <h1 class="page-header">菜单</h1>
        <form method="post" action="/supplier/post?action=del">
            <div class="tool">
                <a class="btn btn-success" href="/supplier/add"><span class="glyphicon glyphicon-plus"></span> 添加</a>
                <button confirm="确定删除吗？" type="submit" class="btn btn-danger del"><span class="glyphicon glyphicon-trash"></span> 删除</button>

                <div class="pull-right">
                    <div class="form-inline">
                        <div class="form-group" style="">
                            <input id="search" type="text" class="form-control" placeholder="公司名称" value="{$search}">
                        </div>
                        <button id="btn-search" type="button" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td width="10"><input class="checkall" type="checkbox"></td>
                        <td>公司名</td>
                        <td>联系人</td>
                        <td>联系电话</td>
                        <td>所在省市</td>
                        <td width="20"></td>
                    </tr>
                </thead>
                <tbody class="check">
                    <volist name="suppliers" id="v">
                        <tr>
                            <th scope="row"><input name="id[]" value="{$v.id}" type="checkbox"></th>
                            <td>{$v.name}</td>
                            <td>{$v.linkman}</td>
                            <td>{$v.phone}</td>
                            <td>{$v.address}</td>
                            <td>
                                <a href="/admin/edit?id={$v.id}" class="btn btn-xs btn-primary btn-dragsort"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="/admin/post?action=del&id={$v.id}" confirm="确定删除该用户吗？" class="btn btn-danger btn-xs btn-dragsort"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>
        </form>

        <nav aria-label="Page navigation" class="text-right">
            <ul class="pagination" id="page"></ul>
        </nav>
    </div>

</div> <!-- /container -->

<include file="footer" />
<script>
    $(document).keydown(function(event){
        if(event.keyCode==13){
            $("#btn-search").click();
            return false;
        }
    });
    //checkbox全选/取消全选
    $('.checkall').click(function() {
        $("tbody input:checkbox").prop("checked",this.checked);
    })
    $('.del').click(function() {
        $("tbody input:checkbox").prop("checked",this.checked);
    })
    $('#btn-search').click(function () {
        var search = $('#search').val();
        if(search) {
            search = "?search="+search;
        }
        window.location.href="/supplier"+search;
    });
</script>
<if condition="$num gt 10">
    <script type="text/javascript" src="_pub_jq-paginator.min.js"></script>
    <script>
        $('#page').jqPaginator({
            totalCounts: {$num},
            pageSize:10,
            visiblePages: 8,
            currentPage: {$start},
            first:'',last:'',
            prev:'<li><a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>',
            next:'<li><a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>',
            page:' <li><a href="javascript:void(0)">{{page}}</a></li>',
            onPageChange: function (num, type) {
                if(type == 'init') {
                    return;
                }
                num = 'start='+num;
                var search = $('#search').val();
                if(search) {
                    num += '&search='+search
                }
                window.location.href="/supplier?"+num;
            }
        });
    </script>
</if>
</body>
</html>
